* {
	font-size: 20px;
}

*.btn {
	font-size: 20px;
}

.view {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.mid {
	text-align: center;
}

.round {
	border-radius: 10px;
}

.outline {
	box-shadow: 0px 0px 5px #888888;
}

.bg {
	font-size: 30px
}

.right {
	float: right;
}

.padding-md {
	padding: 10px;
}

.padding-lg {
	padding: 30px;
}

.margin-md {
	margin: 10px;
}

.margin-lg {
	margin: 20px;
}

.break {
	word-wrap: break-word;
}

.alert {
	box-shadow: 0px 0px 5px red;
}