<div ng-controller="ViewTestCtrl" id="allQuestions">
    <label class="btn btn-gray" ng-click="go('')">Back</label>
	<h1 class="mid">{{test}}</h1>
    <accordion>
        <accordion-group heading="{{sectionName}}({{questionArray.length}})" ng-repeat="(sectionName, questionArray) in sections track by $index">
            <div ng-repeat="question in questionArray" class="outline round padding-sm margin-lg" style="text-align: left;">
                <div class="round blue margin-sm padding-sm">{{question.question}}</div>
                <div class="round green margin-sm padding-sm">{{question.answer}}</div>
                <div class="round yellow margin-sm padding-sm">{{question.other[0]}}</div>
                <div class="round yellow margin-sm padding-sm">{{question.other[1]}}</div>
                <div class="round yellow margin-sm padding-sm">{{question.other[2]}}</div>
                <div class="round grey margin-sm padding-sm"><b>{{question.totalCorrect}} / {{question.totalAsked}}</b> {{question.notes}}</div>
                <label class="btn btn-gray middle-break" ng-click="edit(question)">Edit</label>
            </div>
        </accordion-group>
    </accordion>
</div>