<div ng-controller="EditQuestionCtrl" class="mid">
	<label>Question: </label>
	<textarea ng-model="question.question" id="question"></textarea><br>
	<label>Correct Answer: </label>
	<textarea ng-model="question.answer"></textarea><br>
	<label>Answer 2: </label>
	<textarea ng-model="question.other[0]"></textarea><br>
	<label>Answer 3: </label>
	<textarea ng-model="question.other[1]"></textarea><br>
	<label>Answer 4: </label>
	<textarea ng-model="question.other[2]"></textarea><br>
	<label>Notes: </label>
	<textarea ng-model="question.notes"></textarea><br>
	<label>Category: </label>
	<input class="long margin-md" ng-model="question.category"><br>
	<label class="btn btn-default margin-md" ng-show="question.totalAsked">{{question.totalCorrect}} / {{question.totalAsked}}</label><br>
	<label class="btn btn-primary" ng-click="save()">Save</label>
	<label class="btn btn-warning" ng-click="cancel()">Cancel</label>
	<label class="btn btn-danger" ng-click="delete()">Delete</label>
	<label class="btn btn-danger" ng-click="reset()">Reset Stats</label>
</div>