<div ng-controller="EditQuestionCtrl">
    <label>Category: </label>
    <input class="editQuestionInput" ng-model="question.category"><br>
    <div class="blue">
        <label>Question: </label>
        <textarea ng-model="question.question" id="question" class="editQuestionInput"></textarea>
    </div>
    <div class="green">
        <label>Correct Answer: </label>
        <textarea ng-model="question.answer" class="editQuestionInput"></textarea>
    </div>
    <div class="yellow">
        <label>Answer 2: </label>
        <textarea ng-model="question.other[0]" class="editQuestionInput"></textarea><br>
        <label>Answer 3: </label>
        <textarea ng-model="question.other[1]" class="editQuestionInput"></textarea><br>
        <label>Answer 4: </label>
        <textarea ng-model="question.other[2]" class="editQuestionInput"></textarea>
    </div>
    <div class="grey">
        <label>Notes: </label>
        <textarea ng-model="question.notes" class="editQuestionInput"></textarea>
    </div>

	<label class="btn btn-default margin-md" ng-show="question.totalAsked">{{question.totalCorrect}} / {{question.totalAsked}}</label><br>
	<label class="btn btn-primary" ng-click="save()">Save</label>
	<label class="btn btn-warning" ng-click="cancel()">Cancel</label>
	<label class="btn btn-danger" ng-click="delete()">Delete</label>
</div>