<div ng-controller="TestsCtrl">
	<h1 class="mid">Tests</h1>
	<div class="outline round padding-lg" ng-repeat="(key, val) in tests">
		<label class="bg">{{key}} ({{val.length}})</label>
		<label class="btn btn-primary right padding-md margin-md" ng-click="setCurrentTest(val, key); go(key + '/browse')">Browse Questions</label>
		<label class="btn btn-primary right padding-md margin-md" ng-click="setCurrentTest(val, key); go(key + '/flashcardBuilder')">Flash Cards</label>
		<label class="btn btn-primary right padding-md margin-md" ng-click="setCurrentTest(val, key); go(key + '/quizBuilder')">Build a Quiz</label>
		<label class="btn btn-primary right padding-md margin-md" ng-click="setCurrentTest(val, key); go(key + '/new')">Add Question</label>
	</div>
</div>