<div ng-controller="QuizCtrl">
	<question ng-show="!(done)" />
	<div ng-show="done">
		<div class="round outline" ng-repeat="q in questions track by $index">
			<label class="padding-md margin-md">{{q.question}}</label>
			<label class="btn btn-success right padding-md margin-md">{{q.answer}}</label>
			<label class="btn btn-warning right padding-md margin-md" ng-show="answered[$index] !== q.answer">{{answered[$index]}}</label>
		</div>
		<label class="btn btn-primary" ng-click="restart()">Restart?</label>
	</div>
</div>